body {
    background-color: rgb(243, 243, 243);
    padding: 0;
}
#header, #endest {
    background-color: white;
} 
#center {
    background-attachment: fixed;
    background-image: url(images/hilton1.jpg);
    background-repeat: no-repeat;
    height: 200px;
    font-weight: 600;
    padding-bottom: 0px;
    margin: 10px;
}     
img {
    width: 150px;
    height: 100px;
}
ul, li {
    display: inline-block;
    margin: 15px;
}
a {
    color: black;
}
h1 {
    display: block;
    text-align: center;
    
}
#center a {
    background-color: blueviolet;
    color: white;
    text-decoration: none;
    margin-left: 50%;
    padding: 12px;
}
p {
    text-align: center;
    background-color: white;
    padding:  30px;
    text-align: justify;
    width: 600px;
    margin: 0 auto;
}